

@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;


@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}


.active{
    text-decoration: underline;
    color: lightblue;
}

